<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cloud Scanner</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white font-sans">
  <div class="text-center py-16 px-4">
    <h1 class="text-4xl font-bold mb-4"> Cloud Scanner🌥️</h1>
    <p class="text-lg text-gray-300 mb-8">An AI-powered tool to classify and learn cloud types.</p>
    <a href="/download" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition">⬇️ Download Latest Version</a>
  </div>
  <footer class="text-center text-sm text-gray-500 pb-4">© 2025 Cloud Scanner</footer>
  <footer class="text-center text-sm text-gray-500 pb-4">taha soltanimehr & mohammad taha ehsanpoor</footer>
  <footer class="text-center text-sm text-gray-500 pb-4">Note: Cloud scanner is still in early access and is not fully trained</footer>
  <h2>Upload a File (Only Admin)</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="password" name="password" placeholder="Enter admin password" required><br><br>
        <input type="file" name="file" required><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
